@model Business.ViewModels.Pokemon.SavePokemonViewModel

<div class="row">
    <section class="bg-custom-semipurple rounded-3 text-white text-center p-3 my-5">
		<h3 class="display-8 fw-normal text-uppercase fw-bolder m-0"> Eliminar Pokemon </h3>
	</section>
    <section class="col-4 mx-auto">
        <p class="fs-3 fw-bold text-center"> ¿Está seguro de querer eliminar el pokemon @Model.Name? </p>
        <form method="post" asp-controller="Pokemon" asp-action="DeletePost" class="d-flex flex-column justify-content-center gap-2">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a asp-action="Index" class="btn bg-custom-darkpurple text-white">Cancelar</a>
        </form>
    </section>
</div>
